@import "tailwindcss";


.container{
    max-width: 1280px;
    margin: auto;
}

a{
    text-decoration: none;
    transition: all, 0.4s;
}
a:hover{
    opacity: 0.7;
}

button{
    text-decoration: none;
    transition: all, 0.4s;
}
button:hover{
    opacity: 0.7;
}

:root {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}
